:root {
    --primary-color: seagreen;
    --secondary-color: rgb(196, 196, 196);
    --background-color: rgb(49, 49, 49);
    --font-hover-color: rgb(54, 190, 113);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    background-color: var(--primary-color);
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: var(--primary-color);
}

#nav-container {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    background-color: var(--background-color);

    color: var(--secondary-color);

    width: 15%;
}

#nav-container ul {
    list-style: none;
}

#nav-container ul li {
    margin-top: 2vh;
    font-weight: bold;
}

#nav-container ul li:hover {
    font-weight: bold;

    color: var(--font-hover-color);

    cursor: pointer;
}

#add-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--background-color);

    color: var(--secondary-color);

    width: 15%;
}

#add-container form {
    width: 80%;
}

input, select {
    border-radius: 10px;
    border: none;

    color: white;

    font-size: large;

    padding: 2%;
    
    background-color: rgb(78, 78, 78);

    width: 100%;

    margin: 1vh 0;
}

#add-container #add-button {
    border-radius: 10px;
    border: none;

    color: white;

    font-size: large;

    padding: 2%;
    
    background-color: rgb(38, 119, 185);

    margin: 1vh 0;
}

#principal-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: fit-content(100%);

    padding: 1%;

    width: 100%;

    overflow-y: scroll;
}

.card-jogador, .card-aposta {
    display: flex;
    flex-direction: column;

    text-align: left;

    justify-content: center;

    background-color: var(--background-color);
    color: var(--secondary-color);

    padding: 2%;
    margin: 1%;

    border-radius: 20px;
}

.botoes-aposta {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-top: 2vh;
}

.botoes-aposta button:hover {
    cursor: pointer;
}
.botoes-aposta button {
    border: none;
    width: 100%;
    padding: 2%;
    flex: 1;

    background-color: transparent;
    color: var(--secondary-color);
}

.botoes-aposta button:nth-child(2) {
    border: 0 1px 1px 0 solid var(--secondary-color);
}

.delete-button {
    background-color: red;
    color: var(--secondary-color);

    padding: 3%;

    border-radius: 10px;

    height: fit-content;
    border: none;
}

#edit-form {
    display: none;
    flex-direction: column;

    padding: 2%;

    border-radius: 20px;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background-color);
    color: var(--secondary-color);

    height: fit-content;
    width: 30;
}

.edit-button {
    background-color: rgb(38, 119, 185);
    color: white;

    padding: 3%;

    border-radius: 10px;

    height: fit-content;
    border: none;
}

#close-button {
    background-color: transparent;
    color: var(--secondary-color);

    border: none;

    padding: 1% 2%;

    border-radius: 10px;

    position: absolute;

    top: 10px;
    left: 0;
}

.card-ranking {
    display: block;

    justify-content: left;
    align-items: center;

    width: 100%;
    height: fit-content;

    margin: 1% 0;

    border-radius: 20px;

    padding: 2%;

    background-color: var(--background-color);
    color: var(--secondary-color);
}