:root {
    --primary-color: seagreen;
    --secondary-color: rgb(196, 196, 196);
    --background-color: rgb(49, 49, 49);
    --font-hover-color: rgb(54, 190, 113);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: var(--primary-color);
}

#nav-container {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    background-color: var(--background-color);

    color: var(--secondary-color);

    width: 15%;
}

#nav-container ul {
    list-style: none;
}

#nav-container ul li {
    margin-top: 2vh;
    font-weight: bold;
}

#nav-container ul li:hover {
    font-weight: bold;

    color: var(--font-hover-color);

    cursor: pointer;
}

#add-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--background-color);

    color: var(--secondary-color);

    width: 15%;
}

#add-container form {
    width: 80%;
}

#add-container input, #add-container select {
    border-radius: 10px;
    border: none;

    color: white;

    font-size: large;

    padding: 2%;
    
    background-color: rgb(78, 78, 78);

    width: 100%;

    margin: 1vh 0;
}

#add-container #add-button {
    border-radius: 10px;
    border: none;

    color: white;

    font-size: large;

    padding: 2%;
    
    background-color: rgb(38, 119, 185);

    margin: 1vh 0;
}